# 🔒 AROOO😂
node_modules/
session/
data/
*.log
.env
.DS_Store
*.cache
npm-debug.log
package-lock.json
plugins/
main.js
settings.js
lib/

# ✅ ZETU ZETU 😌
!index.js
!config.js
!package.json
!README.md
!app.json
!.gitignore